alt-graph-index/results-online-graphs/
custom_invlist_cpp/results-online-ivf/
results-offline-graphs-rec/
Random-Edge-Coding/
succinct/

**/*.o
**/*.so
**/*_wrap.cxx
alt-graph-index/altid.py
custom_invlist_cpp/custom_invlists.py
custom_invlist_cpp/test_codec
*/core*
*/.gdb_history
*.out
*.err
*.csv
*.pickle
*.el
*.el.bin
*.el.bin.comp
alt-graph-index/altid.py
alt-graph-index/altid.cxx